{
  "presets": [
    "@vue/app"
  ],
  "plugins": [
    "transform-strict-mode",
    ["transform-imports", {
      "vuetify": {
        "transform": "vuetify/es5/components/${member}",
        "preventFullImport": true
      }
    }]
  ]
}
